{% extends "layout.html" %}

{% block title %}
  Calculate
{% endblock %}

{% block main %}
  <h1 class = "py-2">De Rojas Arcuate Incision Calculator</h1>
  
  <h4 class="py-2">Please enter case details below,<br>then click submit</h4>
    <form id = "patient_data">
      <div class = py-2>
          <label for="ID">Patient ID:</label>
          <input type="text" id="ID" name="ID" class="inputarea">
      </div>
      
      <div class = py-2>
          <label for="age">Age (in years):</label>
          <input type="number" id="age" name="age" min="1" max="150" step="1" class="inputarea" required>
      </div>
      
      <div class = py-2>
          <label for="DOS">Date of Surgery:</label>
          <input type="date" id="DOS" name="DOS" class="inputarea" required>
      </div>

      <div class = py-2>
          <label for="right_eye">Right Eye</label>
          <input type="radio" id="right_eye" name="eye" value="right" required>
          <label for="left_eye">Left Eye</label>
          <input type="radio" id="left_eye" name="eye" value="left" required>
      </div>
      
      <div class = py-2>
          <label for="corneal_astigmatism">Corneal Astigmatism:</label>
          <input type="number" id="corneal_astigmatism" name="corneal_astigmatism" required placeholder="x.xx" min="0.25" max="1.5" step="0.01" class="inputarea">
      </div>

      <div class = py-2>
          <label for="steep_axis">Location of Steep Axis <br> (in degrees):</label>
          <input type="number" id="steep_axis" name="steep_axis" placeholder="xxx" required min="0" max="360" step="1" class="inputarea">
      </div>
      
      <div class = py-2>
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>

  <div class = "text-block mt-sm-5">
    <h5 id ="arcuate1_display" style="color: #FFFF00";></h5>
    <h5 id ="arcuate2_display" style="color: #FFA500";></h5>
  </div>

  <canvas id="my_canvas" width="927.67" height="683.67" class = "my-sm-3" style = "border-radius: 8px !important;">Your browser does not support the canvas element.</canvas>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  
{% endblock %}